__pycache__/
*.pyc
.env
*.sqlite3
backend/static/
backend/media/

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Python / Django
venv/
.env
__pycache__/
*.pyc
db.sqlite3
media/

# Node / Next
frontend/.next/
frontend/node_modules/
